* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --primary-color : #fcf1de;
 --dark-color: #222;
 --container-normal : 1200px;
 --container-wide : 1400px;
 --container-narrow : 900px;
 --radius: 10px;
 --transition: 0.3s ease-in-out;
}

body {
 font-family: 'Poppins', sans-serif;
 line-height: 1.6;
}

a {
 text-decoration: none;
 color: #333;
}

ul {
 list-style: none;
}

img {
 max-width: 100%;
}

/* UTILITY CLASSES */
.bg-primary {
 background: var(--primary-color);
 color: #222;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-dark .bg-primary {
  padding: 0 0.3rem;
}

.section-heading {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 50px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
 display: inline-block;
 padding: 1rem 2rem;
 border: 1px solid #222; 
 background: transparent;
 font-family: inherit;
 font-size: inherit;
 cursor: pointer;
}

.btn:hover {
    background: var(--dark-color);
    color: #fff;
    transition: var(--transition);
  }

/* CONTAINER */
 .container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 1.5rem;
 }

 .container-lg {
  max-width: var(--container-wide);
 }

 .container-sm {
  max-width: var(--container-narrow);
 }


 /* HEADER */
 .header {
  margin: 1.5rem auto;
 }

 .header .logo {
  width: 130px;
 }

 .header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .header .main-menu {
  display: flex;
  gap: 1rem;
 }

 .header .main-menu a {
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
 }

 .header .main-menu a {
  &:hover {
   background: var(--primary-color);
  }
 }

 .current {
  background: var(--primary-color);
  font-weight: 600;
 }

 /* HERO STYLES */
 .hero {
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

    h2 {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 400;
   }
 }

 /* GALLERY STYLES */
 .gallery-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Positions the grid images to the center */
 }

 .gallery-item {
  width: calc(33.333% - 20px);
  border-radius: var(--radius);

  img {
   border-radius: var(--radius);
  }
 }

 .gallery-item:hover {
  opacity: 0.9;
  transition: var(--transition);
}

 /* FOOTER STYLES */
 .footer {
  border-top: 1px solid #aaa;
  padding: 2rem 1.5rem;
  margin-top: 2rem;
}

.footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 120px;
  height: 35px;
}

.footer h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.footer a {
  margin: 0.2rem;
}

.footer-flex a:hover {
 opacity: 0.8;
 transition: var(--transition);
}

  /* SERVICES STYLES */
  .services {
    padding: 3rem 0 4rem;
  }

  .services-flex {
    display: flex;
    gap: 2rem;
  }

  .service-item h4 {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
  }

  /* TEAM STYLES */
  .team {
    padding: 3rem 0 4rem;
  }

  .team-flex {
    display: flex;
    gap: 1.4rem;
  }

  .team img {
    border-radius: var(--radius);
  }

  /* CONTACT STYLES */
.contact {
  padding: 3rem 0 4rem;
}

.contact p {
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin: 2rem 0;
}

.contact input,
.contact textarea {
  border: none;
  border-bottom: 1px #333 solid;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: 1rem;
}

.contact textarea {
  height: 200px;
  resize: none;
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
}

.contact button {
  width: 100%;
}

 /* MEDIA QUERIES */
 /* Header */
 @media(max-width: 768px) {
  .header .header-flex,
  .footer .footer-flex,
  .services .services-flex,
  .team .team-flex {
   flex-direction: column;
   gap: 1.5rem;
  }

  .hero {
   height: 250px;
  }

  .hero h2 {
   font-size: 1.8rem;
  }

  .gallery-item {
   width: calc(50% - 20px);
  }

  .footer .footer-flex {
   text-align: center;
  }
 }